.loadingWrapperMarginTop {
  margin-top: 10px;
}

.projectShortExplanationWrapper {
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 15px;

  background-color: rgb(31, 31, 31);
}

.loadingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  gap: 10px;
}

.chatWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.chatList {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  min-height: 0;
  padding: 0 15px;
}

.chatListItem + .chatListItem {
  margin-top: 10px;
}

.chatBox {
  width: fit-content;
  max-width: 90%;
  border-radius: 10px;
  overflow: auto;
}

.chatBox + .chatBox {
  margin-top: 10px;
}

.botChat {
  border: 1px solid #ccc;
}

.userChat {
  border: 1px solid #ad9e00;
  margin-left: auto;
}

.chatFormWrapper {
  position: sticky;
  bottom: 0;

  margin-top: 10px;
  padding: 10px 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 150px;
  width: 100%;

  background-color: rgb(31, 31, 31);
}

.textareaWrapper {
  flex-grow: 1;
  width: 100%;
}
.chatForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  resize: none;
}

.chatTextArea {
  width: 100%;
  resize: none;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.resetButton {
  width: 100%;
}
